body {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 20%;
  margin: 10px 10px 90px 79%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 0 auto 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 20%;
  margin-bottom: 20px;
}

.input {
  width: 600px;
  margin-bottom: 35px;
  padding: 15px 15px;
  font-size: 15px;
  border: 1px solid lightblue;
  border-radius: 20px;
  display: block;
}

.input:focus {
  outline: none;
}

.button-link-main {
  display: flex;
  width: 250px;
  margin: 0 auto 20px;
  justify-content: space-between;
}

.button-link-main a {
  font-size: 15px;
  padding: 10px 10px;
  border: 1px;
}

.info {
  display: flex;
  width: 24%;
  font-size: 14px;
  justify-content: space-between;
  align-items: baseline;
}

footer {
  width: 100%;
  bottom: 0;
  color: black;
  background-color: lightgrey;
  position: absolute;
}

.footer-links{
  border-top: 1px solid gray;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.link-holder {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.nav-link {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}
